body{
  background-color: rgb(20, 18, 14);
}
.container {
  margin: auto;
  margin-top: 10%;
  text-align: center;
  border: 2px solid rgb(255, 123, 0);
  background-color: rgb(235, 193, 146);
  width: 50%;
  height: 40vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
}
button{
  margin: auto;
  text-align: center;
  width:70px;
  background-color: rgb(175, 137, 80);
  color:black;
  font-weight: bold;
}
p{
  
  font-size: 20px;
  font-family: cursive;
}
